#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.modal-login,
.modal-register {
  position: absolute;
  width: 100vw; /* Вся ширина вікна */
  height: 100vh; /* Вся висота вікна */
  z-index: 100; /* Встановлює пріоритет для модального вікна */
}

.modal-menu {
  outline: 2px solid red;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100; /* Встановлює пріоритет для модального вікна */
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон */
  z-index: 999; /* Встановлює пріоритет для фону */
}

.modal-content {
  width: 200px;
  height: 100px;
  /*display: contents;*/
  z-index: 1000; /* Найвищий пріоритет для вмісту модального вікна */
  top: 60px;
  right: 100px;
}

.modal-menu.modal-content {
  width: 200px;
  height: 200px;
  display: grid;
}

