#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.modal-login,
.modal-register,
.modal-menu {
  position: absolute;
  width: 100vw; /* Вся ширина вікна */
  height: 100vh; /* Вся висота вікна */
  z-index: 100; /* Встановлює пріоритет для модального вікна */
}

.modal-register.modal-content,
.modal-login.modal-content {
  position: relative;
  top: 0;
  left: 0;
  display: inline-table;
  width: 500px;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон */
  z-index: 999; /* Встановлює пріоритет для фону */

  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 200px;
  height: 100px;
  z-index: 1000; /* Найвищий пріоритет для вмісту модального вікна */
  top: 60px;
  right: 100px;

  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 20px;
  max-width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -60%);
  animation: fadeIn 0.3s forwards;
}

.modal-menu.modal-content {
  display: inline-table;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}